.container {
    border : solid 2px #f3e9f1;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 55%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
 }

 @media screen and (max-width: 640px) {
   .container {
       width: 90%;
    }
 }

 .picture {
    width: 400px;
    height : 200px;
    object-fit: contain;
    margin: 20px 0px 20px 0px;
 }

 @media screen and (max-width: 640px) {
    .picture {
       width: 250px;
    }
 }
 
 .textarea {
    width: 65% !important ;
    margin-left : auto !important;
    margin-right : auto !important; 
    background-color: #dfe3ee !important;
    border-radius: 15px !important ;
 }

 @media screen and (max-width: 640px) {
   .textarea {
       width: 90% !important; 
    }
 }
 
 .label {
    color: orangered;
    font-size: 40px;  
    margin-top: 20px;
 }

 @media screen and (max-width: 640px) {
    .label {
       font-size: 25px; 
    }
 }
 
 .h1 {
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: orangered;
    padding: 20px;
 }